services:
  db:
    container_name: db
    build:
      context: ./SERVICES/db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=main
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
    driver: local
